/*
* Core variables
*/
:root {
    --content-width: 100vw;
    --padding-content: 0.5rem;
    --gap: 1rem;
    --edge-margin: calc((100vw - var(--content-width)) / 2);
    --color-main: #289b7f;
    --color-text: #202124;
    --color-1: #45c368;
    --color-1: #41b375;
    ;
    --color-2: #41b375;
    --cover-w: 96px;
    --cover-w-lg: 175px;
    --cover-w-sm: 72px;
    --card-w: 92px;
    --card-radius: 8px;
    --color-border: #e7e9eb;
    --shadow: 0 5px 8px #191f12;
    --editor-slide-w: 430px;
    --editor-slide-w: 80vw;
    --editor-img-w: 144px;
    --cover-padding: 5rem;
    --header-bg: #fff;
    --header-txt: #212529;
    --cover-bg: #e3e5e8;
    --footer-txt: #404040;
    --footer-bg: #FFF;
    --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

/* End: Core variables */

/*
* Layout styles
*/
html {
    position: relative;
    word-break: break-word;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body>* {
    float: left;
    width: 100%;
}

* {
    outline: 0 !important;
}

*,
:after,
:before {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.container {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;

}

.content-area {
    padding-left: calc(var(--gap));
    padding-right: calc(var(--gap));
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.pt {
    padding-top: var(--gap);
}

.pb {
    padding-bottom: var(--gap);
}

.py {
    padding-top: var(--gap);
    padding-bottom: var(--gap);
}

.px {
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.align-middle {
    vertical-align: middle;
}

body {
    background-color: #FFF;
}

svg {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
}

#page {
    background-color: #f5f7fa;
    padding-bottom: 1rem;
}

.d-flex {
    display: flex;
}

.align-items-center {
    -ms-flex-align: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #6c757d;
    ;
}

@media (min-width: 1440px) {
    :root {
        --content-width: 1024px;
        --card-w: 130px;
    }
}

.site-nav ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.site-nav .menu {
    display: flex
}

.site-nav .menu>li {
    position: relative
}

.site-nav .menu>li>a {
    font-size: 1rem;
    font-weight: 600;
    color: inherit;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    display: block;
    padding: .5rem 1.25rem
}

.site-nav .menu>li:hover>a {
    color: inherit;
    background: #f2f2f2
}

.site-nav .sub-menu {
    white-space: nowrap;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    display: none;
    padding: .5rem 0;
    position: absolute;
    z-index: 12;
    top: 100%;
    left: 0;
    min-width: 15rem
}

.site-nav li:hover>.sub-menu {
    display: block
}

.site-nav .sub-menu>li {
    position: relative
}

.site-nav .sub-menu>li>a {
    color: inherit;
    display: block;
    padding: .5rem 1rem
}

.site-nav .sub-menu>li:hover>a {
    color: #eb144c
}

.site-nav .sub-menu>li>.sub-menu {
    top: 0;
    left: 100%
}

.site-footer {
    background-color: var(--footer-bg);
}

.site-footer .footer-left {
    max-width: 750px;
    display: block;
}

.site-footer .footer-menu {
    margin-bottom: 1rem;
}

.site-footer .footer-menu a {
    color: var(--color-text);
    font-weight: 500;
    margin-right: 1.5rem;
    white-space: nowrap;
}

.site-footer .footer-notice {
    color: var(--footer-txt);
    font-weight: 350;
}

.footer-logo {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.footer-logo .logo-link {
    font-size: 28px;
    font-weight: 600;
}

.footer-logo .socials {
    gap: .75rem;
    display: inline-flex;
    align-items: center;
}

.footer-logo .socials .social-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #f0f2f5;
    color: #212529;

}

.footer-logo .socials .social-item:hover {
    color: inherit !important;
}

.footer-notice p {
    padding-left: 0 !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* End: Layout styles */
/*
* Typography styles
*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-text);
}

h2 {
    font-size: 1.75rem;
    line-height: 1.4;
}

h3 {
    font-size: 1.375rem;
    line-height: 1.3;
}

/* End: Typography styles */

/*
* Elements styles
*/
.bg-white {
    background-color: #fff;
}

.rounded {
    border-radius: 8px;
}

.rounded-md {
    border-radius: 0px;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.t-green {
    background-color: #d5f5d6;
    color: #4CAF50;
}

.t-yellow {
    background-color: #fff4d5;
    color: #ffbf00;
}

.t-purple {
    background-color: #e8dcff;
    color: #673AB7;
}

.t-blue {
    background-color: #e5f4ff;
    color: #2196F3;
}

.t-red {
    background-color: #ffe3e1;
    color: #F44336;
}

.t-teal {
    background-color: #e1fffc;
    color: #009688;
}

/* End: Layout styles */

/*
* Header styles
*/
#masthead svg {
    color: #212529;
}

.site-logo {
    line-height: 44px;
    height: 44px;
    font-size: 1.75rem;
    font-weight: 600 !important;
    margin: 0;
}

.site-header {
    background-color: var(--header-bg);
    color: var(--header-txt);

}

.logo-link {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    color: #212529;
    text-decoration: none;
    white-space: nowrap;
}

/*
* Header Menu 
*/
header#mainhead label::after {
    content: '';
    background: rgba(0, 0, 0, .05);
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .1s;
    opacity: 0;
    visibility: hidden
}

header#mainhead label:hover::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1.3, 1.3)
}

/* End HEADER */
/* 
* New search BTN
*/
.search-top {
    display: flex;
    margin-left: auto
}

.v-search-label {
    position: relative;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 100%
}

.v-search-label svg {
    color: inherit !important
}

.v-search-wrapper {
    display: none;
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    background: #fff
}

.v-search:checked~.v-search-wrapper {
    display: block;
    z-index: 1;
}

.v-search-input {
    width: 100%;
    padding: .8em 1em;
    font-size: 1.3em;
    font-weight: 700
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.v-search-wrapper .input-group {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5rem
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.v-search-wrapper .input-group input {
    font-size: 16px
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control-sm {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.custom-select,
.form-control {
    background-color: #f0f2f5;
    border-color: #f0f2f5;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-append .btn,
.input-group-prepend .btn {
    position: relative;
    z-index: 2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.btn-light,
.btn-light:not(:disabled):not(.disabled):active:focus {
    color: #212529;
    background-color: #f0f2f5;
    border-color: #f0f2f5;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

/* END: New search BTN */

/*
* Side Menu
*/
.menu-icon {
    margin-right: .5rem;
    margin-bottom: 0;
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.menu-btn:checked~.menu-icon .icon-close,
.menu-icon .icon-menu {
    opacity: 1;
    transition: .2s ease-out
}

.menu-btn:checked~.menu-icon .icon-menu,
.menu-icon .icon-close {
    opacity: 0;
    transition: none
}

.menu-btn:checked~.site-nav {
    background: #fff;
    display: block;
    z-index: 1;
    position: absolute;
    top: 52px;
    /*width: 100%;*/
    left: 0;
    /*right: 4px;*/
    padding-left: 1rem;
    padding-left: calc(var(--gap)/ 2);
    padding-right: calc(var(--gap)/ 2);
    margin-left: calc(((100vw - var(--content-width)) / 2) + var(--gap));
    /*
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 1px solid #dee2e6;
    */
    border-radius: 8px;
    padding-bottom: 1rem;

    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.menu-btn:checked~.site-nav .menu {
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 991px) {
    .menu-icon {
        display: none
    }
}

@media (max-width: 991px) {
    .site-nav {
        display: none
    }

    #masthead>div {
        justify-content: space-between
    }

    #masthead .search-top {
        margin-left: 0
    }
}

/* END: Side Menu */

/*******************************************
* Download PAGE
*/
.content-area .download-page,
.content-area .download-links {
    padding: 0 1rem;
}

.download-section {
    display: block;
    float: left;
    width: 100%;
    margin-top: 0;
    padding: 2rem 0;
    border-radius: 0;
}

.download-section+.download-section {
    margin-top: 0;
}

.download-section>h2 {
    padding: 0 1rem;
}

.download-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.download-page .v-thumb {
    margin-bottom: 1rem;
    align-self: center;
    max-width: 172px;
}

.download-page .book-title {
    font-size: 24px;
    font-weight: bold;
}

.download-links {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;
}

.download-links .download-line {
    display: flex;
    border-radius: 1.5rem;
    padding: .5rem;
    margin-bottom: 1rem;
    color: #fff;
    margin-top: .5rem;
    transition: box-shadow .2s ease;

}

a.download {
    font-size: 14px;
}

.download-line:hover {
    color: #FFF !important
}

.download-line.s-blue:hover {
    box-shadow: 0 .25rem .5rem 0 rgba(55, 169, 228, 0.3), 0 0 0 .25rem rgba(55, 169, 228, 0.3);
}

.download-line-title {
    display: flex;
    width: 100%;
    min-width: 0;
    flex: 1 1 auto;
    font-weight: 600;
    align-items: center;
    padding: 0 2rem 0 .5rem;
    text-transform: capitalize;
}

.download-line-title>i {
    margin-right: .5rem;
    opacity: .5;
}

.download-line-size {
    margin-left: auto;
    background-color: rgba(0, 0, 0, .2);
    font-size: .875rem;
    line-height: 1.5rem;
    padding: .25rem .75rem;
    border-radius: 1rem;
    white-space: nowrap;
}

.download-avai {

    position: relative;
    z-index: 0;
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 1rem;
    width: 100%;
}

.download-avai::before {
    content: "";
    position: absolute;
    left: .25rem;
    right: .25rem;
    top: 0;
    height: 3.75rem;
    margin-top: .25rem;
    background-size: 1rem 1rem;
    opacity: .05;
    z-index: -1;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PHBhdGggZmlsbD0nIzE0MjYzNicgZD0nTTIsOGEyLDIsMCwxLDAsMiwyQTIsMiwwLDAsMCwyLDhabTgtOGEyLDIsMCwxLDAsMiwyQTIsMiwwLDAsMCwxMCwwWicvPjwvc3ZnPg==)
}

.back-post {
    display: inline-flex;
    font-weight: 600;
    color: #202124;
    align-items: center;
    margin-bottom: 1rem;
}

.back-post .c-icon {
    margin-right: 0.5rem;
}

.back-post .c-icon>svg {
    color: inherit
}

.book-chapter-info {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-style: italic;
    float: left;
    width: 100%;
    margin-bottom: 1rem;
}

/* Download Loader*/

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease
}

@media (prefers-reduced-motion:reduce) {
    .progress-bar {
        transition: none
    }

    .progress-bar-animated {
        -webkit-animation: none;
        animation: none
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes .6s linear infinite;
    animation: progress-bar-stripes .6s linear infinite
}



/*
* Download PAGE
*******************************************/

/*
* Home Search 
*/
.page-head-main {
    text-align: center;
    margin-top: 0rem;
    padding-top: 2rem;
    position: relative;
    overflow: hidden;
}

.page-head-main>.title {
    z-index: 1;
    position: relative;
    font-size: 1.5rem;
    line-height: 1.3;
    max-width: 15rem;
    margin: 0 auto;
    color: #289B7F;
    pointer-events: auto;
}

.page-head-main>img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -7%);
    width: 50rem;
    height: auto;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    max-width: unset;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.q-search {

    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 20rem;
    margin: 1rem auto;
    margin-bottom: 5rem;
    z-index: 1;
}

.q-search-label {
    display: none;
}

.q-search-text {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    color: inherit;
    padding: calc(.5rem - 1px) .75rem;
    background: #FFF;
    border: 1px solid #E7E9EB;
    border-radius: .375rem;
    outline: none !important;
    box-shadow: 0 .125rem .75rem 0 rgba(23, 43, 61, .05);
    transition: border .2s linear 0s, box-shadow .2s linear 0s;
    background-clip: padding-box;

    border-radius: 1.25rem !important;
    padding-left: 1rem !important;
    padding-right: 3rem !important;
}

.q-search-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    transition: color .2s ease;
    width: 2.5rem;
    height: 2.5rem;
    padding: .5rem;
    color: #289B7F;
    background: 0 0;
}

.section-title {
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.3;
    color: inherit;
    align-items: center;
    margin-bottom: 1.5rem;

}

span.section-title {
    text-transform: capitalize;
    letter-spacing: 2px;
    font-variant: small-caps;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.heading-synopsis {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0.7rem;
    flex-wrap: wrap;
}

.section-title>.c-icon {
    margin-right: 1rem;
}

.s-green {
    background-color: #45c368;
    background-image: linear-gradient(180deg, #4CCB70 0%, #3DBA60 100%);
    box-shadow: 0 .25rem .5rem 0 rgba(69, 195, 104, .3);
}

.s-yellow {
    background-color: #f9bd3b;
    background-image: linear-gradient(180deg, #FEDE4A 0%, #F8B035 100%);
    box-shadow: 0 .25rem .5rem 0 rgba(251, 205, 66, .3);
}

.s-blue {
    background-color: #37a9e4;
    background-image: linear-gradient(180deg, #38B9E6 0%, #368BE1 100%);
    box-shadow: 0 .25rem .5rem 0 rgba(55, 169, 228, .3);
}

.s-purple {
    background-color: #9248e1;
    background-image: linear-gradient(180deg, #9B54E8 0%, #7126C1 100%);
    box-shadow: 0 .25rem .5rem 0 rgba(146, 72, 225, .3);
}

.s-red {
    background-color: #FB614A;
    background-image: linear-gradient(180deg, #FF715C 0%, #F74A2F 100%);
    box-shadow: 0 .25rem .5rem 0 #FB614A;
}

.c-icon {
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-icon>svg {
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    color: #fff;
}

.editor-pick-container {
    display: flex;
    gap: 1rem;

}

/* End Home Seach */

/*
* Single Book
*/

.book-header {
    background-color: #191B24;
    color: #FFF;
    margin-bottom: var(--gap);
}

.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
}

.book-header .book-cover {
    /*align-self: center;
    max-width: 240px;*/
    width: 172px;
    flex-shrink: 0;
}

.book-summary .book-title {
    font-weight: 700;
    line-height: 1.5;
    margin-top: 0.5rem;
    margin-bottom: .5rem;
    color: #fff;

}

.book-summary .book-author-name {
    font-size: 13px;
    color: #AAA;
    margin-bottom: 1rem;
    margin-top: -.25rem;

}

.book-summary .book-author-name a {
    color: inherit
}

.book-summary .toggle-book-meta {
    display: block;
    color: var(--color-1);

    font-size: 14px;
    font-weight: 500;
    max-width: 300px;
    margin: -.5rem auto 0;
    min-height: 40px;
    padding: .5rem 1.1rem;
}

.toggle-arrow {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    font-size: 12px;
    margin-left: 0.5rem;
    top: 3px;
}

.toggle-arrow:before,
.toggle-arrow:after {
    content: '';
    top: 4px;
    position: absolute;
    width: 8px;
    height: 2px;
    background-color: var(--color-1);
    display: inline-block;
    transition: all 0.2s ease;
}

.toggle-arrow:before {
    left: 0;
    transform: scale(0.9) rotate(45deg)
}

.toggle-arrow:after {
    right: 0;
    transform: scale(0.9) rotate(-45deg);
}

.book-summary .book-title,
.book-summary .toggle-book-meta,
.book-summary .book-author-name {
    text-align: center;
}

.book-summary .toggle-book-meta-btn:checked~.book-meta {
    display: block;
}

.toggle-book-meta-btn:checked+label .toggle-arrow:before {
    transform: scale(0.9) rotate(-45deg);
}

.toggle-book-meta-btn:checked+label .toggle-arrow:after {
    transform: scale(0.9) rotate(45deg);
}

.book-summary .book-meta {
    display: none;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, .2);
    border-radius: .75rem;
}


.book-summary .book-format {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .6rem;
    margin-bottom: .75rem;
}

.book-summary .book-format .tag {
    background-color: #ffffff10;
    height: 26px;
    padding: 0 .4rem;
    color: #fff;
    display: inline-flex;
    border-radius: .33rem;
    align-items: center;
    font-size: 12px;
    border: 1px solid #fff;
}

.book-summary .book-format .tag.epub {
    font-weight: 500;
    color: #000;
    background-color: #FFF;
}


.book-summary .book-meta .book-genres {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .6rem;
    margin-bottom: .75rem;
}

.book-summary .book-meta .book-genres a {
    background-color: #ffffff10;
    height: 26px;
    padding: 0 .4rem;
    color: #fff;
    display: inline-flex;
    border-radius: .33rem;
    align-items: center;
    font-size: 12px;
}

.book-summary .book-meta .status {
    margin-bottom: 1.5rem;
}

.book-summary .book-meta .status-line {
    font-size: 12px;
    padding: .5rem .8rem;
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.status.complete .status-line {
    background-color: #22cb4c1a;
    color: #22cb4c;
}

.status.on-going .status-line {
    background-color: #ff83001a;
    color: #ff8300;
}

.book-summary .book-meta .detail-line {
    display: flex;
    font-size: 14px;
    color: #fff;
    align-items: flex-start;
    gap: .6rem;
    margin-bottom: 1.2rem;
}

.detail-line .de-title {
    font-weight: 500;
    white-space: nowrap;
}

.detail-line .de-value {
    color: #AAA
}

.detail-line a {
    color: #FFF;
}

.book-summary {
    width: 100%;
}

.book-summary a.book-download {
    display: inline-flex;
    border-radius: 1.5rem;
    padding: 0 2.5rem;

    color: #fff;
    font-weight: 500;
    min-height: 44px;
    line-height: 44px;
    transition: box-shadow .2s ease;
}

.book-summary a.book-download:hover {
    color: inherit !important;
    box-shadow: 0 .25rem .5rem 0 rgba(69, 195, 104, .3), 0 0 0 .25rem rgba(69, 195, 104, .3);
}

.book-summary .loader {
    width: 13px;
    height: 13px;
    border: 3px solid #ff8300;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.book-actions {
    margin-top: 2rem;
    flex-direction: column;
}

.book-actions,
.book-cta,
.groups-left {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.groups-left {
    gap: 1rem;
    flex-grow: 1;
    justify-content: flex-start;
}

.v-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    font-size: .8em;
    color: #FFF;
    line-height: 1;
    min-width: 80px;
    padding: .6rem;
    border-radius: .6rem;
}

.v-item:hover {
    color: #45c368;
    background-color: rgba(0, 0, 0, .2);
}

.v-item:hover span {
    color: #FFF;
}

.book-rating {
    /*cursor: pointer;*/
    display: flex;
    align-items: center;
    background-color: #484bb8;
    border-radius: 3rem;
    padding: .5rem .6rem;
    gap: 0.3rem;
    font-size: 11px;
}

.book-rating .rate-score {
    font-weight: 600;
    font-size: 16px;
}

.book-rating .rate-votes {
    display: none;
}

/*
* Rating
*/
.book-summary .rating {
    display: block;
    margin-bottom: 0.5rem;
    color: #41B375;
}

.book-summary .stars {
    display: inline-block;
    position: relative;
    vertical-align: text-bottom;
    height: 17px;
    width: 85px;
    background-image: url('data:image/svg+xml,<svg fill="none" height="17" viewBox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg"><path d="m13.7309 3.51014 1.76 3.52c.24.49.88.96 1.42 1.05l3.19.53c2.04.34 2.52 1.81996 1.05 3.27996l-2.48 2.48c-.42.42-.65 1.23-.52 1.81l.71 3.07c.56 2.43-.73 3.37-2.88 2.1l-2.99-1.77c-.54-.32-1.43-.32-1.98 0l-2.99001 1.77c-2.14 1.27-3.44.32-2.88-2.1l.71-3.07c.13-.58-.1-1.39-.52-1.81l-2.48-2.48c-1.46-1.46-.99-2.93996 1.05-3.27996l3.19-.53c.53-.09 1.17-.56 1.41-1.05l1.76001-3.52c.96-1.91 2.52-1.91 3.47 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="%2341B375"/></svg>');
    background-size: 17px;
    background-repeat: repeat-x;
    margin: 0 4px 0 0;

}

.book-summary .stars .score {
    display: block;
    margin: 0;
    background-image: url('data:image/svg+xml,<svg fill="none" height="17" viewBox="0 0 24 24" width="17" xmlns="http://www.w3.org/2000/svg"><path d="m17.9184 14.3202c-.259.251-.378.614-.319.97l.889 4.92c.075.417-.101.839-.45 1.08-.342.25-.797.28-1.17.08l-4.429-2.31c-.154-.082-.325-.126-.5-.131h-.271c-.094.014-.186.044-.27.09l-4.43001 2.321c-.219.11-.467.149-.71.11-.592-.112-.987-.676-.89-1.271l.89-4.92c.059-.359-.06-.724-.319-.979l-3.611-3.5c-.302-.293-.407-.733-.269-1.12996.134-.396.476-.685.889-.75l4.97-.721c.378-.039.71-.269.88-.609l2.19001-4.49c.052-.1.119-.192.2-.27l.09-.07c.047-.052.101-.095.161-.13l.109-.04.17-.07h.421c.376.039.707.264.88.6l2.219 4.47c.16.327.471.554.83.609l4.97.721c.42.06.771.35.91.75.131.40096.018.84096-.29 1.12996z" fill="%2341B375"/></svg>');
    background-size: 17px;
    background-repeat: repeat-x;
    height: 17px;
    width: 77px
}

.book-summary .rate-count,
.book-summary .rate-value {
    margin: 0;
    vertical-align: middle;
}

/* End Single Book
*/

/*
* Entry Content
*/
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.term-description h1,
.term-description h2,
.term-description h3,
.term-description h4,
.term-description h5,
.term-description h6 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.entry-content .update-notify {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgba(76, 203, 112, .1);
    padding: 2rem 2rem 1rem 3rem;
    color: #009688;
    margin: .5rem 0 1rem 0;
    box-shadow: none;
    border: none;
    font-weight: 500;
}

.entry-content .update-notify:before {
    content: '';
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, .15);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: -12px;
    opacity: .1;
}

.entry-content .update-notify svg {
    position: absolute;
    top: .5rem;
    left: .5rem;
}

.entry-content .book-detail-heading {
    margin-top: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    font-size: 16px;
    color: #747474;
}

.entry-content table {
    margin-bottom: 1rem;
    letter-spacing: 0.03em;
    text-align: left;

}

.entry-content table th,
.entry-content table td {
    padding: 3px 5px;
}

.entry-content table th {
    font-weight: 500;
}

section.post-tags {
    line-height: 1.9;
}

.post-tags a {
    display: inline-block;
    line-height: 1.5;
    font-size: 12px;
    border: 1px dashed var(--color-main);
    color: var(--color-main);
    background-color: #f4fffc;
    border-radius: 4px;
    margin-right: 5px;
    padding: 0 5px;
}

#content section {
    margin-top: 2rem
}

/* End Entry Content
*/

/* Comment System
*/
.comments-area {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

.comment-container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
}

.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    background-color: #EEE;
}

.comment-avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

/* End: Comment*/
/*
* Single Post - Book Card
*/

.book-wrapper {
    width: 172px;
    flex-shrink: 0;
}


.v-thumb {
    width: 100%;
    padding-bottom: calc(4 / 3 * 100%);
    height: 0;
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    display: block;
}

.v-thumb::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: inherit;
    transform: scale(0.997);
    border-radius: inherit;
    overflow: hidden;
    background-color: var(--cover-bg);
}

.v-thumb img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

}

/* End: Book Card
*/

.book-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.novel-info {
    /*padding-left: 6px;*/
    padding-left: 0;
}

.novel-info svg {
    vertical-align: text-bottom;
}

.novel-info em {
    margin-right: 3px;
    padding: 0px 4px;
    border: 1px dashed #E91E63;
    color: #E91E63;
    border-radius: 6px;
    font-size: 12px;
    font-style: normal;
}

.novel-info em:last-child {
    margin: 0
}

.novel-info .novel-title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    clear: both;
}

/* In Series*/
.in-series {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.in-series .book-item {
    flex-direction: row;
}

.in-series .card-item {
    flex: 1 1 300px;
}

.in-series .novel-info .novel-title {
    -webkit-line-clamp: 3;
    font-size: 16px;
}

.in-series .novel-thumbnail {
    max-width: 96px;
}

.in-series .novel-thumbnail>div {
    width: 96px;
}

.in-series .novel-thumbnail img {
    border-radius: 8px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

/*
* Responsive styles
*/

/* Tablet and up */
@media (min-width: 500px) {

    /* Styles for tablets and larger screens */
    :root {
        --content-width: 480px;
        --editor-slide-w: 430px;
        --card-w: 110px;
    }

    .rounded-md {
        border-radius: 8px;
    }

    .book-rating .rate-votes {
        display: inline-block;
    }

    .book-item {
        flex-direction: column;
    }
}



/* Middle Table and up */
@media (min-width: 768px) {

    /* Styles for desktops and larger screens */
    :root {
        --content-width: 750px;
        --padding-content: 2rem;
        --card-w: 141px;
    }
}

/* Desktop and up */
@media (min-width: 1024px) {

    /* Styles for desktops and larger screens */
    :root {
        --content-width: 960px;
        --editor-slide-w: 480px;
        /*--card-w: 150px;*/
        --card-w: 117px;
    }

    .book-container {
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
    }

    .book-header .book-cover {
        width: 240px;
    }

    .book-summary .book-title,
    .book-summary .toggle-book-meta,
    .book-summary .book-author-name {
        text-align: left;
    }

    .book-summary .toggle-book-meta {
        display: none;
    }

    .book-summary .book-meta {
        display: block;
        padding: 0;
        background: none;
    }

    .book-actions {
        flex-direction: row;
    }

    .footer-logo {
        display: inline-flex;
        flex-direction: row;
        gap: 2rem;
    }

    .footer-logo .socials {
        padding-left: 3rem;
        border-left: 1px solid var(--color-border);
    }
}

/* Wide Desktop and up */
@media (min-width: 1440px) {
    :root {
        --content-width: 1024px;
        /*
        --card-w: 162px;
        */
        --card-w: 130px;
    }

    .editor-pick-container {
        margin-left: 0;
        margin-right: 0;
        scroll-padding-left: 0;
        padding-left: 0;
    }
}

/** End: Responsive styles
*/
